---
import ThemeDropdown from "./theme-dropdown";
import LanguageDropdown from "./language-dropdown";

type Props = {
  noI18n?: boolean;
};

const { props, url } = Astro;
const { noI18n } = props;
---

<nav class="sticky flex justify-around">
  <div class="">
    <p>ponktoku.dev</p>
    <ul class="flex gap-10">
      <li>Writing</li>
      <li>Note</li>
      <li>Craft</li>
      <li>Works</li>
    </ul>
  </div>
  <div class="flex gap-1">
    {noI18n && <LanguageDropdown client:load {url} />}
    <ThemeDropdown client:load />
  </div>
</nav>
